@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'general/variables';
@import 'general/base';
@import 'general/typography';
@import 'components/ui';
@import 'helpers/classes';
@import 'media';
button {
    width: 150px;
    height: 40px;
    background-color: lightblue;
    text-align: center;
}
.active {
    font-size: 20px;
    color: red;
}